:host {
  /* CSS vars
   * https://stackoverflow.com/questions/41950834/buttons-not-inheriting-parent-div-font-size
   * As stated above, form elements do not usually inherit stiles from the root of the element.
   * Therefore css vars are provided
   */
  /**
   * @prop --btn_border-radius, --kup-button_border-radius: Sets border radius of the button.
   * @prop --btn_font-family, --kup-button_font-family: sets the font family of the button
   * @prop --btn_font-size, --kup-button_font-size: Sets button font size.
   * @prop --btn_font-style, --kup-button_font-style: Sets button font style.
   * @prop --btn_font-weight, --kup-button_font-weight: Sets the font weight of the button
   * @prop --btn_icon-color, --kup-button_icon-color: Sets icon color.
   * @prop --btn_icon-size, --kup-button_icon-size: Set icon size.
   * @prop --btn_main-color, --kup-button_main-color: Sets the main color of the button.
   * @prop --btn_text-color, --kup-button_text-color: Sets color of the button text.
   * @prop --btn_text-decoration, --kup-button_text-decoration: Sets decoration of the button text.
  */
  --btn_border-radius: var(--kup-button_border-radius);
  --btn_font-family: var(--kup-button_font-family);
  --btn_font-size: var(--kup-button_font-size);
  --btn_font-style: var(--kup-button_font-style);
  --btn_font-weight: var(--kup-button_font-weight);
  --btn_icon-color: var(--kup-button_icon-color);
  --btn_icon-size: var(--kup-button_icon-size);
  --btn_main-color: var(--kup-button_main-color);
  --btn_text-color: var(--kup-button_text-color);
  --btn_text-decoration: var(--kup-button_text-decoration);

  @include stateVars('--btn');
}

// theme support -- example

$mdc-theme-primary: $smeup-primary;
$mdc-theme-secondary: #d1c4e9;
$mdc-theme-background: #fdf6f9;

@import '@material/button/mdc-button';

.mdc-button {
  @include mdc-states(#fff);

  & .material-icons {
    margin: 0;

    &:before {
      line-height: 1;
      vertical-align: top;
    }
  }

  &.trailing-left {
    & .material-icons ~ .button-text {
      margin-left: 8px;
    }
  }

  &.trailing-right {
    & .button-text ~ .material-icons {
      margin-left: 8px;
    }
  }

  &.button-shaped,
  &.button-shaped .mdc-button__ripple {
    border-radius: 18px;
  }

  &.fillspace {
    width: 100%;
  }

  & {
    background: var(--btn_main-color);

    &.btn-info {
      background: var(--btn_color-info);
    }

    &.btn-danger {
      background: var(--btn_color-danger);
    }

    &.btn-warning {
      background: var(--btn_color-warning);
    }

    &.btn-selected {
      background: var(--btn_color-selected);
    }

    & .button-text {
      border-radius: var(--btn_border-radius);
      color: var(--btn_text-color);
      font-family: var(--btn_font-family);
      font-size: var(--btn_font-size);
      font-style: var(--btn_font-style);
      font-weight: var(--btn_font-weight);
      text-decoration: var(--btn_text-decoration);
    }

    & .material-icons {
      &:before {
        color: var(--btn_icon-color);
        font-size: var(--btn_icon-size);
      }
    }
  }
}
