/**
* @prop --btn_border-radius, --kup-button_border-radius: Sets border radius of the button.
* @prop --btn_font-family, --kup-button_font-family: sets the font family of the button
* @prop --btn_font-size, --kup-button_font-size: Sets button font size.
* @prop --btn_font-style, --kup-button_font-style: Sets button font style.
* @prop --btn_font-weight, --kup-button_font-weight: Sets the font weight of the button
* @prop --btn_height, --kup-button_height: Sets height of the button.
* @prop --btn_icon-color, --kup-button_icon-color: Sets icon color.
* @prop --btn_icon-size, --kup-button_icon-size: Set icon size.
* @prop --btn_main-color, --kup-button_main-color: Sets the main color of the button.
* @prop --btn_text-color, --kup-button_text-color: Sets color of the button text.
* @prop --btn_text-decoration, --kup-button_text-decoration: Sets decoration of the button text.
*/

@import '@material/button/mdc-button';

:host {
  --btn_border-radius: var(--kup-button_border-radius, 4px);
  --btn_font-family: var(--kup-button_font-family);
  --btn_font-size: var(--kup-button_font-size);
  --btn_font-style: var(--kup-button_font-style);
  --btn_font-weight: var(--kup-button_font-weight);
  --btn_height: var(--kup-button_height, 36px);
  --btn_icon-color: var(--kup-button_icon-color);
  --btn_icon-size: var(--kup-button_icon-size);
  --btn_main-color: var(--kup-button_main-color);
  --btn_text-color: var(--kup-button_text-color);
  --btn_text-decoration: var(--kup-button_text-decoration);

  @include stateVars('--btn');
}

.mdc-button {
  @include mdc-states(#fff);

  & .material-icons {
    margin: 0;

    &:before {
      line-height: 1;
      vertical-align: top;
    }
  }

  &.trailing-left {
    & .material-icons ~ .button-text {
      margin-left: 8px;
    }
  }

  &.trailing-right {
    & .button-text ~ .material-icons {
      margin-left: 8px;
    }
  }

  &.button-shaped,
  &.button-shaped .mdc-button__ripple {
    border-radius: 18px;
  }

  &.fillspace {
    width: 100%;
  }

  &.custom {
    @include mdc-button-container-fill-color(var(--btn_main-color));
    @include mdc-button-ink-color(var(--btn_text-color));
    @include mdc-button-height(var(--btn_height), structure);
    @include mdc-button-shape-radius(var(--btn_border-radius));

    &.btn-info {
      @include mdc-button-container-fill-color(var(--btn_color-info));
    }

    &.btn-danger {
      @include mdc-button-container-fill-color(var(--btn_color-danger));
    }

    &.btn-warning {
      @include mdc-button-container-fill-color(var(--btn_color-warning));
    }

    &.btn-selected {
      @include mdc-button-container-fill-color(var(--btn_color-selected));
    }

    & .button-text {
      font-family: var(--btn_font-family);
      font-size: var(--btn_font-size);
      font-style: var(--btn_font-style);
      font-weight: var(--btn_font-weight);
      text-decoration: var(--btn_text-decoration);
    }

    & .material-icons {
      &:before {
        font-size: var(--btn_icon-size);
      }
    }
  }
}
