/**
* @prop --checkbox_background-color, --kup-checkbox_background-color: Sets the background color of the checkbox
* @prop --checkbox_tick-color, --kup-checkbox_tick-color: Sets color of the tick of the checkbox.
*/
@import '@material/checkbox/mdc-checkbox';
@import '@material/form-field/mdc-form-field';

:host {
  --checkbox_background-color: var(--kup-checkbox_background-color);
  --checkbox_tick-color: var(--kup-checkbox_tick-color);
}

.mdc-checkbox {
  &.custom {
    .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
    .mdc-checkbox__native-control:enabled:indeterminate
      ~ .mdc-checkbox__background {
      background-color: var(--checkbox_background-color);
      border-color: var(--checkbox_background-color);

      & .mdc-checkbox__checkmark {
        color: var(--checkbox_tick-color);
      }
    }
  }
}
