/**
* @prop --itx_color, --kup-text-input_color: Set color of text
* @prop --itx_font-size, --kup-text-input_font-size: Set height of the font and the svg icon
* @prop --itx_border-color, --kup-text-input_border-color: Set normal border color of the input
* @prop --itx_border-color--selected, --kup-text-input_border-color: Set color of the border when focused or hovered
* @prop --itx_tr-duration, --kup-text-input_transition-duration: Set all transitions duration
* @prop --itx_icon-color, --kup-text-input_icon-color: Set icon color
* @prop --itx_icon-color--hover, --kup-text-input_icon-color--hover: Set icon color when hovered
* @prop --itx_placeholder-color, --kup-text-input_placeholder-color: Set placeholder text color
* @prop --itx_background-color, --kup-text-input_background-color: Sets the background color of the input text
*/

:host {
  // Variables
  --itx_color: var(--kup-text-input_color, #000);
  --itx_font-size: var(--kup-text-input_font-size, 1rem);
  --itx_border-color: var(--kup-text-input_border-color, #{$gray-80});
  --itx_border-color--selected: var(
    --kup-text-input_border-color--selected,
    #{$smeup-primary}
  );
  --itx_tr-duration: var(--kup-text-input_transition-duration, #{$trn-time});
  --itx_icon-color: var(--kup-text-input_icon-color, #{$gray-80});
  --itx_icon-color--hover: var(
    --kup-text-input_icon-color--hover,
    #{darken($gray-80, 10)}
  );
  --itx_placeholder-color: var(--kup-text-input_placeholder-color, #bebebe);
  --itx_background-color: var(--kup-text-input_background-color, transparent);
}
