/**
* @prop --chi_color, --kup-chip_color: Text color
* @prop --chi_icon-color, --kup-chip_icon-color: Icon color
* @prop --chi_icon-color-hover, --kup-chip_icon-color-hover: Icon color on mouse hover
* @prop --chi_background, --kup-chip_background: Background color
* @prop --chi_background-hover, --kup-chip_background-hover: Background color on mouse hover
* @prop --chi_disabled-color, --kup-chip_disabled-color: Text color when the chip is disabled
* @prop --chi_disabled-background-color, --kup-chip_disabled-background-color: Background color when the chip is disabled
*/

@import '@material/chips/mdc-chips';

:host {
  --chi_color: var(--kup-chip_color);
  --chi_icon-color: var(--kup-chip_icon-color, #{$mainRed});
  --chi_icon-color-hover: var(--kup-chip_icon-color-hover, #{$mainRedLight});
  --chi_background: var(--kup-chip_background);
  --chi_background-hover: var(--kup-chip_background-hover, #{$gray-e5});
  --chi_disabled-color: var(--kup-chip_disabled-color, #{$gray-88});
  --chi_disabled-background-color: var(
    --kup-chip_disabled-background-color,
    #{$gray-f0}
  );
}

.mdc-chip {
  &.custom {
    @include mdc-chip-fill-color(var(--chi_background));
    //@include mdc-chip-ink-color(var(--chi_color));
  }
}
